<div class="InputSelector__wrapper full-width">
    <el-autocomplete
            v-model="inputValue"
            :fetch-suggestions="querySearch"
            :value-key="displayProperty"
            clearable
            :placeholder="placeholder"
            @select="handleSelect"
            class="full-width"
    >
        <template #suffix>
            <i class="fa-solid fa-bars cursor-pointer" @click="openSelector" title="Открыть справочник"></i>
        </template>
    </el-autocomplete>
    <el-drawer v-model="selectorVisible" :show-close="true">
        <template #header="{ close, titleId, titleClass }">
            <h4 :id="titleId" :class="titleClass">{{ selectorConfig.title }}</h4>
        </template>
        <ListView class="margin-top-xs" :source="source" @itemClick="itemClick" :filter="selectorConfig.filter"/>
    </el-drawer>
</div>
