@import "src/style/platformVar";

.Widget-LoginForm__{
  &wrapper {
    width: 350px;
    background: rgba(120, 149, 149, 0.27);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: @left-top-shadow;
    position: relative;
  }

  &user-avatar {
    position: absolute;
    top: -30px;
  }
}

.el-input, .el-input-group {
  width: 270px;
}