<div class="Product__wrapper">
    <GridView :source="source" @nodeClick="nodeClick">
        <template #content>
            <el-table-column prop="name" label="Название продукта" width="250" />
            <el-table-column prop="description" label="Описание" width="*" />
            <el-table-column prop="group_uuid" label="Лизенция" width="*" />
        </template>
    </GridView>
    <ProductCard
            :visible="visible"
            :data="data"
            @productCardVisibleChange="cardVisibleChange"
            @cardSave="cardSave"
            v-if="data"
            />
</div>
