<div class="Accruals__wrapper">
    <GridView :source="source" @nodeClick="nodeClick"/>
    <el-table :data="data" stripe class="full-size" v-infinite-scroll="load" @row-click="rowClick">
        <slot name="content">
            <el-table-column prop="license_uuid" label="Название лицензии" width="220" />
            <el-table-column prop="product" label="Продукт" width="180" />
            <el-table-column prop="client_uuid" label="Клиент" width="180" />
            <el-table-column prop="sum" label="Сумма" width="180" />
            <el-table-column prop="date" label="Дата" width="180" />
        </slot>
    </el-table>
</div>
