<div class="UserCard__wrapper">
    <Card
            :title="computedTitle"
            :visible="cardVisible"
            @cardVisibleChange="cardVisibleChange"
            @cardSave="cardSave"
    >

        <template #content>
                <el-form
                        ref="ruleFormRef"
                        :model="localData"
                        :rules="rules"
                        label-width="120px"
                        status-icon
                >
                    <div style="display: flex; justify-content: center;">
                    <el-form-item class="UserCard__avatar-wrapper" v-bind:class="{'AvatarLoader__border': !!localData.photo_url}">
                        <AvatarLoader :avatarPath="localData.photo_url" :before-upload="beforeAvatarUpload" @setAvatar="setAvatar" ></AvatarLoader>
                    </el-form-item>
                    </div>
                    <el-form-item label="Имя" prop="name">
                        <el-input v-model="localData.name" :clearable="true" :show-word-limit="true" :maxlength="20" :autosize="true"/>
                    </el-form-item>
                    <el-form-item label="Фамилия" prop="surname">
                        <el-input v-model="localData.surname" :clearable="true" :show-word-limit="true" :maxlength="40" :autosize="true"/>
                    </el-form-item>
                    <el-form-item label="Отчество" prop="second_name">
                        <el-input v-model="localData.second_name" :clearable="true" :show-word-limit="true" :maxlength="40" :autosize="true"/>
                    </el-form-item>
                    <el-form-item label="Телефон" prop="phone">
                        <PhoneNumber :value="localData.phone" @numberChange="numberChange"/>
                    </el-form-item>
                    <el-form-item label="Логин" prop="login">
                        <el-input v-model="localData.login" :clearable="true" :show-word-limit="true" :minlength="4" :maxlength="20" :autosize="true"/>
                    </el-form-item>
                    <el-form-item label="Пароль" prop="password" v-if="!data.id">
                        <el-input v-model="localData.password" type="password" autocomplete="off" />
                    </el-form-item>
                    <el-form-item label="Подтверждение" prop="checkPass" v-if="!localData.id && localData.password">
                        <el-input
                                v-model="localData.checkPass"
                                type="password"
                                autocomplete="off"
                        />
                    </el-form-item>
                    <el-form-item label="Email:" prop="email">
                        <el-input v-model="localData.email" :clearable="true" :autosize="true"/>
                    </el-form-item>
                    <el-form-item label="Дата рождения" prop="date_birthday" class="UserCard__DataPicker-wrapper">
                        <el-date-picker type="date" v-model="localData.date_birthday"/>
                    </el-form-item>
                </el-form>
        </template>
    </Card>
</div>
