<div class="Filter__wrapper flex flex-align-center flex-justify-center" v-if="filterConfig.length">
    <i class="fas fa-filter" @click="changeVisibilityFilter"></i>
    <div class="Filter__block padding-l" v-if="filterVisibility">
        <div class="Filter__block-header  flex flex-justify-space-between padding-bottom-2xs padding-left-xs padding-right-xs">
            <div class="flex">
                <i class="fas fa-filter" @click="changeVisibilityFilter"></i>
                <h1 class="margin-left-l">Фильтр</h1>
            </div>
            <el-button type="warning" round @click="applyFilter">Применить</el-button>
        </div>
        <div class="Filter__block-content__main margin-top-xs flex flex-justify-space-between flex-column">
            <div class="Filter__filter-content__item flex flex-justify-space-between flex-align-center margin-bottom-s" :key="item.field" v-for="item in filterSource.main">
                <span class="Filter__filter-content__item-name">{{ item.title }}</span>
                <el-date-picker
                        class="Filter__filter-content__item-input"
                        v-model="item.value"
                        type="date"
                        :clearable="true"
                        :placeholder="item.title"
                        v-if="item.type === filterType.DATE"
                />
            </div>
        </div>
        <div class="Filter__block-content__additional margin-top-xs flex flex-justify-space-between flex-column">
            <h2 class="margin-bottom-s">Можно еще отобрать по</h2>
            <div class="Filter__filter-content__item flex flex-justify-space-between flex-align-center margin-bottom-s" :key="item.field" v-for="item in filterSource.additional">
                <span class="Filter__filter-content__item-name">{{ item.title }}</span>
                <el-date-picker
                        class="Filter__filter-content__item-input"
                        v-model="item.value"
                        type="date"
                        :clearable="true"
                        :placeholder="item.title"
                        v-if="item.type === filterType.DATE"
                />
                <el-switch
                        v-model="item.value"
                        style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                        v-if="item.type === filterType.SWITCH"
                />
                <el-input
                        v-model="item.value"
                        style="width: 220px;"
                        :clearable="true"
                        :placeholder="item.title"
                        v-if="item.type === filterType.INPUT"
                />
            </div>
        </div>
    </div>
</div>
