<div class="Card__wrapper">
    <el-drawer
            v-model="cardVisible"
            :title="title"
            direction="rtl"
            :size="size"
            :before-close="handleClose"
    >
        <template #header>
            <h4>{{ title }}</h4>
            <el-button :disabled="saveButtonDisabled" type="success" class="margin-right-l" @click="saveCard">
                <el-icon class="el-icon--left"><Upload /></el-icon>
                Сохранить
            </el-button>
        </template>
        <div class="Card__content full-size scroll-container">
            <div class="Card__content-wrapper" :class="{'full-size': !menuItems,
                        'Card__content-wrapper__size': menuItems}">
                <slot name="content"></slot>
            </div>
            <div class="Card__content-menu" v-if="menuItems">
                <el-menu
                        :default-active="activeMenuItem"
                        class="full-width scroll-container"
                        active-text-color="#222684"
                        background-color="#dcdcdc"
                >
                    <el-menu-item :index="item.id" :key="item.id" v-for="item in menuItems">
                        <i class="fa-solid margin-right-s" :class="'fa-' + item.icon"></i>
                        <span>{{ item.title }}</span>
                    </el-menu-item>
                </el-menu>
            </div>
        </div>
    </el-drawer>
</div>
