<div class="ClientCard__wrapper">
    <Card
            :title="computedTitle"
            :visible="cardVisible"
            :saveButtonDisabled="saveButtonDisabled"
            @cardVisibleChange="cardVisibleChange"
            @cardSave="cardSave"
            :menuItems="[ {'title': 'Основная информация'}, {'title': 'Начисления'} ]"
    >
        <template #content>
            <div class="ClientCard__form">
                <el-form
                        ref="ruleFormRef"
                        :model="localData"
                        :rules="rules"
                        label-width="120px"
                        status-icon
                >
                    <div class="ClientCard__avatar" style="margin-bottom: 20px;">
                        <el-form-item class="UserCard__avatar-wrapper">
                            <div class="full-width flex flex-align-center flex-justify-center">
                                <el-upload
                                        class="avatar-uploader"
                                        :show-file-list="false"
                                >
                                    <img v-if="data.photo_url" :src="data.photo_url" class="avatar" />
                                    <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
                                </el-upload>
                            </div>
                        </el-form-item>
                    </div>
                    <div class="ClientCard__avatar-inputs">
                        <el-form-item label="Имя" prop="name">
                            <el-input v-model="localData.name" :clearable="true" :show-word-limit="true" :maxlength="40"
                                      :autosize="true"/>
                        </el-form-item>
                        <el-form-item label="ИНН" prop="inn">
                            <el-input v-model="localData.inn"  placeholder="Введите ИНН" :show-number-limit="true"
                                      :clearable="true" minlength="10" maxlength="12"/>
                        </el-form-item>
                        <el-form-item label="КПП" prop="kpp">
                            <el-input v-model="localData.kpp"  placeholder="Введите КПП"
                                      :show-number-limit="true"  :clearable="true"  maxlength="9"/>
                        </el-form-item>
                        <el-form-item label="Активность" prop="is_active">
                            <el-switch
                                    v-model="localData.is_active"
                                    class="ml-2"
                                    style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                            />
                        </el-form-item>
                        <el-form-item label="Телефон" prop="phone">
                            <el-input v-model="localData.phone"  placeholder="Введите номер"
                                      :show-number-limit="true"  :clearable="true"  maxlength="11"/>
                        </el-form-item>
                        <el-form-item label="Email:" prop="email">
                            <el-input v-model="localData.email" :clearable="true" :autosize="true"/>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
        </template>
    </Card>
</div>
