<div class="Client__wrapper">
    <GridView :source="source"  @nodeClick="nodeClick">
        <template #content>
            <el-table-column prop="name" label="Имя" width="auto" />
            <el-table-column prop="inn" label="ИНН" width="auto" />
            <el-table-column prop="kpp" label="КПП" width="auto" />
            <el-table-column prop="is_active" label="Активность" width="auto" />
        </template>
    </GridView>
    <ClientCard
            :visible="visible"
            :data="data"
            @clientCardVisibleChange="cardVisibleChange"
            @cardSave="cardSave"
            v-if="data"
    />
</div>
