<div class="Layout-BasicLayout__wrapper full-size">
    <div class="Layout-BasicLayout-header">
        <div class="Layout-BasicLayout-header__addButton" v-if="showAddButton">
            <el-button
                    type="primary"
                    :icon="plus"
                    circle
                    :title="addButtonTooltip"
                    @click="onAddButtonClick"
            />
        </div>
        <div class="Layout-BasicLayout-header__search" :class="{'Layout-BasicLayout-header__search-noFilter': !filterConfig.length}" v-if="showSearch">
            <el-input v-model.lazy="searchStr" :placeholder="searchTooltip" @input="changeSearchString" :clearable="true">
                <template #prefix>
                    <el-icon class="el-input__icon"><Search /></el-icon>
                </template>
            </el-input>
        </div>
        <Filter :filterConfig="filterConfig"/>
    </div>
    <div class="Layout-BasicLayout__content hidden-overflow">
        <slot name="content"/>
    </div>
</div>
