<div class="User__wrapper">
    <GridView :source="source"  @nodeClick="nodeClick">
        <template #content>
            <el-table-column prop="name" label="Имя" width="auto" />
            <el-table-column prop="surname" label="Фамилия" width="auto" />
            <el-table-column prop="second_name" label="Отчество" width="auto" />
            <el-table-column prop="telephone" label="Телефон" width="auto" />
            <el-table-column prop="login" label="Логин" width="auto" />
            <el-table-column prop="email" label="Почта" width="auto" />
            <el-table-column prop="date_birthday" label="Дата рождения" width="auto" />
        </template>
    </GridView>
    <UserCard
            :visible="visible"
            :data="data"
            @userCardVisibleChange="cardVisibleChange"
            @cardSave="cardSave"
            v-if="data"
    />
</div>
