<div class="LicenseCard__wrapper">
    <Card
        :title="computedTitle"
        :visible="cardVisible"
        :saveButtonDisabled="saveButtonDisabled"
        @cardVisibleChange="cardVisibleChange"
        @cardSave="cardSave"
    >
        <template #content>
            <div class="LicenseCard__form">
                <el-form
                        ref="ruleFormRef"
                        :model="localData"
                        :rules="rules"
                        label-width="180px"
                        status-icon
                >
                    <el-form-item label="Название" prop="name">
                        <el-input v-model="localData.name" :clearable="true" :show-word-limit="true" :maxlength="40" :autosize="true"/>
                    </el-form-item>
                    <el-form-item label="Стоимость" prop="cost">
                        <el-input-number class="full-width" v-model="localData.cost" :min="0" :max="10000000000" />
                    </el-form-item>
                    <el-form-item label="Ограничения" prop="limitation">
                        <el-input v-model="localData.limitation" :clearable="true" :show-word-limit="true" type="textarea"/>
                    </el-form-item>
                    <el-form-item label="Группа лицензий" prop="group_id">
                        <InputSelector :value="localData.group_id"
                                       :source="source"
                                       :selectorConfig="selectorConfig"
                                       @selectedChange="selectedChange"
                                       placeholder="Начните вводить название лицензии"/>
                    </el-form-item>
                </el-form>
            </div>
        </template>
    </Card>
</div>
